@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:600px;
  min-width: 700px;    
  background: #474747;
}
      
  div#depose {
    height:300px;
    min-width: 600px;
    font-size:20px;
    line-height: 280px;
    color:rgb(255, 255, 255);    
    text-align: center;
    padding:10px;
    margin:10px;
    border:2px dashed rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }    
  div#depose.onDropZone {
    color:rgb(255, 255, 255);
    border:5px solid rgb(255, 255, 255);
    padding:7px;
  }    
      
  div.bloc {
      color:white;
      border-radius: 5px;
      text-align: center;
      padding:5px;
      border:1px solid rgb(255, 255, 255);
      margin:10px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  div.blocWithoutBorder {
    text-align: center;
  }
  div#preview {
    display:none;
  }
  div.fichier {
    padding:5px;
    margin-top:1px;
  }
  div.fichier img {
    max-height: 80px;
    max-width: 80px;
    margin-right:10px;
    vertical-align: middle;
  }
  div.icon{
    font-size: 100px;
    color: #fff;
  }
  .Bouton{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #474747;
    border-radius: 5px;
    cursor: pointer;
}